In [123]:
import pandas as pd


df = pd.read_csv("C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\Open-Course\\UMICH-Introduction to Data Science in Python\\olympics.csv", index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names = df.index.str.split('\s\(')

df.index = names.str[0] # the [0] element is the country name (new index) 
df['ID'] = names.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)
df = df.drop('Totals')


df

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yugoslavia,16,26,29,28,83,14,0,3,1,4,30,26,32,29,87,YUG
Independent Olympic Participants,1,0,1,2,3,0,0,0,0,0,1,0,1,2,3,IOP
Zambia,12,0,1,1,2,0,0,0,0,0,12,0,1,1,2,ZAM
Zimbabwe,12,3,4,1,8,1,0,0,0,0,13,3,4,1,8,ZIM
Mixed team,3,8,5,4,17,0,0,0,0,0,3,8,5,4,17,ZZX

In [124]:
# Q0. What is the first country in df? a Series.

df.iloc[0]

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object

In [133]:
#Q1. Which country has won the most gold medals in summer games?
    #-->a single string value.

#df['Gold'].argmax() # 'argmax() is fuction to find most values'
#idxmax() is 열에서 제일 큰 값을 가진 행을 찾아준다.

df['Gold'].idxmax()

'United States'

In [139]:
# Q2. Which country had the biggest difference between their summer and winter gold medal counts?
# -->This function should return a single string value.

(df['Gold']-df['Gold.1']).idxmax()

'United States'

In [144]:
# Q3. Which country has the biggest difference between their summer gold medal counts and winter gold medal counts relative to their total gold medal count?
#    Only include countries that have won at least 1 gold in both summer and winter.
gold=df[(df['Gold.1']>1) & (df['Gold']>1)]
gold['D']=(abs((df['Gold']-df['Gold.1']))/df['Gold.2'])

gold['D'].idxmax()

C:\Users\syjy0\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

'Australia'

In [ ]:
# Q4. Write a function that creates a Series called "Points" which is a weighted value where each gold medal (Gold.2) counts for 3 points, 
#silver medals (Silver.2) for 2 points, and bronze medals (Bronze.2) for 1 point. The function should return only the column (a Series object) which you created, with the country names as indices.
#This function should return a Series named Points of length 146